$mobile: 0 1.6rem;
$tablet: 0 5rem;
$laptop: 0 10rem;
$desktop: 0 15%;

// fonts
$body-text: "Assistant", "sans-serif";
$title-text: "Playfair Display";
$semi-normal: 500;
$normal: 400;
$light: 300;
$thin: 200;
$heavy: 800;

$colors: (
  brand-black: #141910,
  brand-green: #1db954,
  brand-white: #f5f5f4,
  brand-grey: #6c6c6b,
  input-border: #cdd1ce,
  background-grey: #f5f5f4,
);
